.sidebar-container {
    grid-area: sidebar; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.side-bar__logo {
    margin-top: 3rem;
    font-size: 4rem;
  font-weight: 700;    
}

.sidebar__links-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-sm);
}

.link__icon {
    width: 3rem;
    height: 3rem;
    transition: 0.3s all ease-in-out;
}

.link {
    height: 5rem;
    width: 80%;
    display: flex;
    gap: var(--space-md);
    align-items: center;
    justify-content: left;

    padding: var(--space-xs) var(--space-sm);
    border-radius: 8px;
    text-decoration: none;
    color: var(--txt-secondary);
    font-size: 2rem;
    font-weight: 600;

    transition: all 0.3s ease-in-out ;
}

.link:hover {
    color: #197bbd;    
    background-color: #f0f7ff;   
    font-size: 700;     
}

.sidebar__icon {
    width: 18rem;
    margin-top: 4em;
    margin-bottom: 8rem;
}