:root {
    --bg-background: #F0F0F0;
    --bg-main-card: #FFF;

    --txt-primary: #363636;
    --txt-secondary: #9e9e9e;
 

    --link-sidebar: #C7C7C7;

;

    --bd-radius: 3.5rem;
    --bx-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgba(0, 0, 0, 0) 0px 1px 2px;
    
    --space-xs: 0.4rem;  
    --space-sm: 0.8rem;  
    --space-md: 1.6rem;  
    --space-lg: 2.4rem;  
    --space-xl: 3.2rem;  
    --space-2xl: 4.8rem; 
}