.main-container {
   height: 100%;
   min-width: 0;
   min-height: 0;
   display: flex;
   justify-content: space-between;
   gap: var(--space-2xl);
}

.main__left {
    width: 55%;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xl);
}

.main__right {
    width: 45%;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}   

