/* === CARDS CONTAINER === */
.cards {
    position: relative;
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    padding: var(--space-lg); 
    align-items: flex-start;
    gap: var(--space-sm);
    border-radius: var(--bd-radius);    
    background-color: var(--bg-main-card);
    border: var(--bd-standard);
}

.cards__title {
    text-align: center;
    font-size: 2.4rem;
    color: var(--txt-primary);
    font-weight: 600;
}

/* === CARDS LAYOUT === */
.cards__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.cards__left-column {
    height: 100%;
    width: 60%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
}

.cards__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
}

.cards__nav-button {
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}   

.cards__nav-button:hover {
    transform: translateY(-3px);
}

.cards__arrow-icon {
    width: 3rem;
}

.cards__line-top{
    height: 1px;
    width: 106%;
    color: var(--txt-secondary);
    opacity: 0.3;
}

.cards__line {
    height: 100%;
    width: 2px;
    color: var(--txt-secondary);
    opacity: 0.3;
}

.cards__right-column {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: start;
}

/* === CREDIT CARD VISUAL === */
.card {
    height: 24rem;
    width: 36rem;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: var(--space-lg);
    border-radius: 18px;
    background-color: var(--card-default-color);
    cursor: pointer;
    transition: 0.4s all ease-out;
}

.card:hover{
    transform: scale(0.99);
}

.card__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__header {
    display: flex;
    flex-direction: column;
}

.card__info {
    display: flex;
    gap: var(--space-xl);
}

.card__group {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.card__brand {
    font-size: 2em;
    font-weight:600;
    color: var(--card-text-color);
}

.card__type {
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--card-text-color);
    opacity: 0.6;
    text-transform: uppercase;
}

.card__number {
    font-size: 2.6rem;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: var(--card-text-color)
}

.card__label {
    font-size: 1.2rem;
    white-space: nowrap;
    font-weight: 400;
    color: var(--card-text-color);
}

.card__value {
    font-size: 1.4rem;
    font-weight: 500;   
    color: var(--card-text-color);
    white-space: nowrap;
    text-transform: uppercase;
}


/* === CARD LIMIT === */
.limit {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-sm);
}

.limit__info {
    width: 100%;
    display: flex;   
    align-items: center;
    justify-content: space-between;
}

.limit__label {
    color: var(--txt-secondary);
    font-weight: 400;
    font-size: 1.4rem;
}

 .limit__value {
    color: var(--txt-primary);
    font-size: 1.5rem;
    font-weight: 500;
 }


/* === BALANCE SUMMARY === */
.balance-summary {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: var(--space-md);
}

.balance__item {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.balance__amount {
    font-size: 3.2rem;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.balance__amount--current    {
    font-size: 4.6rem;
    font-weight: 600;
    width: 100%;
    color: var(--card-amount-current);
}

.balance__amount--income {
    font-weight: 500;
    color: var(--card-amount-income);
}

.balance__amount--outcome {
    color: var(--card-amount-outcome);
}

.balance__label {
    font-size: 1.8rem;
    text-align: right;
    font-weight: 300;
    color: var(--txt-secondary);
}
