 .overview {
   width: 100vw;
   height: 100vh;
   padding: var(--space-2xl);
   gap: var(--space-2xl);

   background-color: var(--bg-main-card);
   
   display: grid;
   grid-template-columns: 240px 1fr;
   grid-template-rows: 120px 1fr;
   grid-template-areas: 
   "sidebar header"
   "sidebar main";
}

.header-container { grid-area: header; }
.main-container { grid-area: main; }            