.outcome-statistics {
   display: flex;
   flex-direction: column;
   height: 33%;
   padding: var(--space-md); 
   gap: var(--space-xl);
   background-color: transparent;
}

.outcome-statistics__title {
   width: auto;
   font-size: 2.4rem;
   color: var(--txt-primary);
   font-weight: 600;
}

.statistic {
   width: 100%;
   min-width: 0;
   display: flex;
   align-items: start;
   gap: var(--space-md);
   justify-content: space-between;
}

.statistic__icon {
   max-width: 5rem;
   max-height: 5rem;
}

.statistic__group {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   gap: var(--space-sm);
   width: 100%;
   height: 100%;
}

.statistic__bar {
   width: 100%;
   height: 1.5em;
   background-color: #f1f1f1;
   border-radius: var(--bd-radius);
}

.statistic__fill {
   background-color: #197bbd;
   height: 1.5em;
   border-radius: var(--bd-radius);
   transition: all 0.8s ease-in-out;
}

.statistic__label {
   width: 10rem;
   font-size: 2rem;
}

.statistic__percentage {
   font-size: 2.5rem;
}