.transaction-history {
   width: 100%;
   height: 40%;
   min-width: 0;
   min-height: 0;
   display: flex;
   flex-direction: column;
   padding: var(--space-lg); 
   gap: var(--space-sm);
   border-radius: var(--bd-radius);
   background-color: var(--bg-main-card);
   box-shadow: var(--bx-shadow);
}

.transaction-history__title {
   color: var(--txt-primary);
   font-size: 2.4rem;
   font-weight: 600;
   margin-bottom: var(--space-xs);
}

.transiction-history__table-container {
   position: relative;
   padding: 0;
   width: 100%;
   height: 100%;
   min-width: 0;
   min-height: 0;
   overflow: auto;
   scroll-behavior: smooth;
}

.transaction-history__table {
   table-layout: fixed;
   padding: 0;
   width: 100%;
}

.transaction-history__head {
   margin:0;
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 10;
}

.transaction-history__header {
   background: var(--bg-main-card);
   font-size: 1.8rem;
   font-weight: 400;
   padding: var(--space-sm);
   text-align: start;
   color: var(--txt-secondary);
   text-align: left;
   vertical-align: middle;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}  

.transaction-history__cell {
   color: var(--txt-secondary);
   width: 25%;
   min-width: 0;
   font-size: 1.8rem;
   padding: var(--space-md) 0;
   vertical-align: middle;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.transaction-history__cell--amount {
   font-weight: 600;
}

.transaction-history__cell--receiver, .transaction-history__cell--amount {
   color: var(--txt-primary);
   padding-left: var(--space-sm);
}

.transaction-history_cell--receiver, .transaction-history__header:first-child {
   width: 40%;
   text-align: left;
   padding-left: var(--space-sm);
}


s
.transaction-history__cell--type, .transaction-history__cell--date {
   text-align: left;
   padding-left: var(--space-sm);
   width: 20%;
}

.transaction-history__header--amount, .transaction-history__cell--amount {
   width: 20%;
   text-align: right;
   padding-right: var(--space-sm);
}