.sidebar {
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__links-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-sm);
}

.link__icon {
    width: 3rem;
    height: 3rem;
}


.link {
    height: 3em;
    width: 100%;
    display: flex;
    gap: var(--space-md);
    align-items: center;
    justify-content: left;

    padding: var(--space-xs) var(--space-sm);
    border-radius: 8px;
    text-decoration: none;
    color: var(--link-sidebar);
    font-size: 2rem;
    font-weight: 600;

    transition: all 0.3s ease-in-out ;
}

.link:hover {
    color: #197bbd;    
    background-color: #f0f7ff;   
    font-size: 700;     
}

.sidebar__icon {
    width: 18rem;
}