 .main-card {
   width: 85%;
   height: 100%;
   padding: 0 2rem;

   background-color: var(--bg-main-card);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
   display: grid;
   grid-template-columns: 250px 1fr;
   grid-template-rows: 120px 1fr;
   grid-template-areas: 
   "sidebar header"
   "sidebar main";

   gap: 4em;
}

.sidebar-container { grid-area: sidebar; }
.header-container { grid-area: header; }
.main-container { grid-area: main; }