.bar {
    width: 100%;
    height: 1.2em;
    background-color: #f1f1f1;
    border-radius: var(--bd-radius);
}

.bar__fill { 
    background-color: #197bbd;
   height: 1.2em;
   border-radius: var(--bd-radius);
   transition: all 0.8s ease-in-out;
}