@import './styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;   
    font-family: Inter;
}

html{
    font-size: 62.5%;
}

