* {
    letter-spacing: 0.02em;
}

.goals-container{
    height: auto;
    min-width: 0;
    width: 100%;
    display : flex;
    flex-direction: column;
    gap: var(--space-xs);
    background-color: transparent;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.goals__header {
    width: 100%;
    padding: var(--space-sm);
    display: flex;
    gap: var(--space-sm);
    align-items: center;
}

.goals__title {
    margin-left: 1rem;
    font-size: 2.4rem;
    color: var(--txt-primary);
    font-weight: 600;
}

.goals__add-goal {
    width: 2rem;
    height: 2rem;
    border-radius: var(--bd-radius);
    cursor: pointer;
    background-color: #fec146;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.goals__add-goal:hover {
    background-color: #f7a429;
}

.goals__add-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.goals__card-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: var(--space-md) var(--space-lg);
    align-items: center;
    justify-content: space-betweengit;
    gap: var(--space-md);
}  

.goals__wrapper {
    display: flex;
    flex-shrink: 0; 
}

.goals__card {
    min-height: 20rem;
    max-width: 18rem;
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--bd-radius);
    box-shadow: var(--bx-shadow);
}   

.goals__values {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.goals__label {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.goals__cost {
    font-size: 2.6em;
    font-weight: 600;
    color: var(--txt-primary);
}

.goals__date {
    font-size: 1.6em;
    font-weight: 400;
    color: var(--txt-secondary);
}

.goals__icon {
    width: 3em;
    height: 3em;
}

.goals__name {
    font-size: 2.2em;
    font-weight: 400;
    color: var(--txt-primary);
}