.goals {
    width: 100%;
    min-width: 0;
    height: 50%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: var(--space-lg); 
    gap: var(--space-md);
}

.goals__header {
    width: 100%;
    display: flex;
    gap: var(--space-sm);
    align-items: center;
}

.goals__title {
    font-size: 2.4rem;
    color: var(--txt-primary);
    font-weight: 600;
}

.goals__add-goal {
    width: 2rem;
    height: 2rem;
    border-radius: var(--bd-radius);
    cursor: pointer;
    background-color: #fec146;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.goals__add-goal:hover {
    background-color: #f7a429;
    transform: scale(1.02);
}

.goals__add-icon {
    max-width: 1.2rem;
    max-height: 1.2rem;
}

.goals__wrapper {
    display: flex;
    position: relative;
    gap: var(--space-md);
}
    
.goals__item-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: center;
    gap: var(--space-md);
}  

.goals__item-container::-webkit-scrollbar {
    display: none;
}


.goals__button {
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.goals__button--previous {
    margin-left: -20px;
}

.goals__button--next {
    margin-right: -20px;
}
    
.goals__arrow-icon {
    width: 2rem;
}

.goals__button:hover {
    transform: translateY(-3px);
}

.item {
    min-height: 0;
    height: 26rem;
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--space-lg);
    border-radius: var(--bd-radius);
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.item:first-child {
    margin-left: var(--space-sm);
}

.item:last-child {
    margin-right: var(--space-sm);
}

.item__values {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.item__label {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.item__cost {
    font-size: 2.6em;
    font-weight: 700;
    color: var(--txt-primary);
}

.item__date {
    font-size: 1.6em;
    font-weight: 400;
    color: var(--txt-secondary);
}

.item__icon {
    max-width: 4em;
    max-height: 4em;
}

.item__name {
    font-size: 2.2em;
    font-weight: 400;
    color: var(--txt-primary);
    overflow: hidden;
    text-overflow: ellipsis;
}